<section id="blog-author" class="blog-author section">
  <div class="container">
    <div class="author-container d-flex align-items-center">
      <img src="img/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
      <div>
        <h4>Teresa Smith</h4>
        <div class="social-links">
          <a href="#"><i class="bi bi-twitter-x"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="biu bi-instagram"></i></a>
        </div>
        <p>
          Aliquam erat volutpat. Proin suscipit, ligula non venenatis euismod, nulla justo tristique nulla, a dapibus felis lectus non odio. Duis nec felis id justo feugiat pharetra
        </p>
      </div>
    </div>
  </div>
</section>