{% extends 'main/layouts/main.html' %}

{% block title %}{{ title }}{% endblock %}

{% block pageclass %}blog-page{% endblock %}

{% block content %}

{% load static %}
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <!-- Blog Posts Section -->
      {% if posts %}
      <section id="blog-posts" class="blog-posts section">
        <div class="container">
          <div class="row gy-4">
            {% for post in posts %}
            <div class="col-12">
              <article>
                <div class="post-img">
                  <img src="img/blog-1.jpg" alt="" class="img-fluid">
                </div>
                <h2 class="title"><a href="/blog/{{ post.id }}">{{ post.title }}</a></h2>
                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">{{ post.author }}</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2025-01-01">Feb 01, 2025</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                  </ul>
                </div>
                <div class="content">
                  <p>{{ post.anons }}</p>
                  <div class="read-more">
                    <a href="/blog/{{ post.id }}">Читать далее</a>
                  </div>
                </div>
              </article>
            </div><!-- End post list item -->
            {% endfor %}
          </div><!-- End blog posts list -->
        </div>
      </section><!-- /Blog Posts Section -->
      {% else %}
      <h2>Ничего не найдено</h2>
      {% endif %}
      <!-- Blog Pagination Section -->
      <!--<section id="blog-pagination" class="blog-pagination section">
        <div class="container">
          <div class="d-flex justify-content-center">
            <ul>
              <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
              <li><a href="#">1</a></li>
              <li><a href="#" class="active">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li>...</li>
              <li><a href="#">10</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
      </section>--><!-- /Blog Pagination Section -->

    </div>

    <div class="col-lg-4 sidebar">
      {% include 'blog/includes/sidebar.html' %}
    </div>

  </div>
</div>
{% endblock %}