{% extends 'main/layouts/main.html' %}

{% block title %}About - CosmicTarot Bootstrap Template{% endblock %}

{% block pageclass %}starter-page-page{% endblock %}

{% block content %}
    <!-- About Section -->
    <section id="about" class="about section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p><span>Find Out More</span> <span class="description-title">About Us</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-3">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <img src="img/about.jpg" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="about-content ps-0 ps-lg-3">
              <h3>Welcome to Cosmic Tarot – Where Intuition Meets Destiny!</h3>
              <p class="fst-italic">
                At Cosmic Tarot, we believe that the universe holds the answers to life’s greatest mysteries. Through the ancient wisdom of Tarot, we guide you on a journey of self-discovery, clarity, and enlightenment.
              </p>
              <ul>
                <li>
                  <i class="bi bi-moon-stars-fill"></i>
                  <div>
                    <h4>Unlock the Wisdom of Tarot</h4>
                    <p>Whether you're seeking answers about love, career, or personal growth, our readings provide deep, intuitive insights to help you navigate life’s journey.</p>
                  </div>
                </li>
                <li>
                  <i class="bi bi-moon-stars-fill"></i>
                  <div>
                    <h4>A Sacred Space for Spiritual Guidance</h4>
                    <p>Our platform is designed to be a safe and mystical space where seekers can connect with the wisdom of the tarot. </p>
                  </div>
                </li>
              </ul>
              <p>
                Are you ready to uncover the secrets written in the stars? Your journey begins here!</p>
                <p> Explore our readings & step into the magic today!</p>
              </p>
            </div>

          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p><span>Our Hard Working</span> <span class="description-title">Team</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="img/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Denver White</h4>
                <span>Tarot Card Reader</span>
                <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="img/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Williams</h4>
                <span>Tarot Card Reader</span>
                <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="img/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Jenifer Kennedy</h4>
                <span>Tarot Card Reader</span>
                <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="img/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Terry West</h4>
                <span>Tarot Card Reader</span>
                <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

    <!-- Call To Action Section -->
    <section id="cta" class="cta section">

      <div class="section-bg-2 my-6">
          
          <div class="section-bg-overlay"></div>

          <!--begin container-->
          <div class="container">

              <!--begin row-->
              <div class="row">
              
                  <!--begin col md 7 -->
                  <div class="col-md-7 mx-auto text-center z9">

                      <h2 class="text-white">Your Answers Are Written in the Stars – Let's Reveal Them!</h2>
                      <h4 class="text-white">Get a Tarot Reading Now!</h4>
                      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn-white small page-scroll">Book a Reading</a>
                     
                  </div>
                  <!--end col md 7-->
              
              </div>
              <!--end row-->
      
          </div>
          <!--end container-->
      
      </div>

    </section> <!-- /Call To Action Section -->
{% endblock %}