{% extends 'main/layouts/main.html' %}

{% block title %}{{ title }}{% endblock %}

{% block pageclass %}index-page{% endblock %}

{% block content %}
  <!-- Hero Section -->
  {% include 'main/includes/hero.html' %}
  <!-- /Hero Section -->

    <!-- About Section -->
    {% include 'main/includes/about.html' %}
    <!-- /About Section -->
    
    <!-- Stats Section -->
    {% include 'main/includes/stats.html' %}
    <!-- /Stats Section -->

    <!-- Services Section -->
    {% include 'main/includes/services.html' %}
    <!-- /Services Section -->

    <!-- Call To Action Section -->
    {% include 'main/includes/cta.html' %}
    <!-- /Call To Action Section -->

    <!-- Testimonials Section -->
    {% include 'main/includes/testimonials.html' %}
    <!-- /Testimonials Section -->

    <!-- Faq Section -->
    {% include 'main/includes/faq.html' %}
    <!-- /Faq Section -->

    <!-- Contact Section -->
    {% include 'main/includes/contact.html' %}
    <!-- /Contact Section -->

    <!-- Recent Posts Section -->
    {% include 'main/includes/recent_posts.html' %}
    <!-- /Recent Posts Section -->
{% endblock %}