<section id="contact" class="contact section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2 title="Contact">Контакты</h2>
    <p title="Need Help? Contact Us"><span>Нужна помощь?</span> <span class="description-title">Свяжитесь с нами</span></p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-5">

        <div class="info-wrap">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3 title="Address">Адрес</h3>
              <p>Консультации онлайн. Приём заявок через мессенджеры. Офиса нет</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-telegram flex-shrink-0"></i>
            <div>
              <h3 title="Call Us">Telegram</h3>
              <p>{{ telegraf }}</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3 title="Email Us">Email</h3>
              <p>{{ email }}</p>
            </div>
          </div><!-- End Info Item -->

          <p>Работаю в часовом поясе Europe/Chisinau (GMT+2)</p>
        </div>
      </div>

      <div class="col-lg-7">
        <form action="forms/contact-data.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">

            <div class="col-md-6">
              <label for="name-field" class="pb-2" title="Your Name">Ваше имя</label>
              <input type="text" name="name" id="name-field" class="form-control" required="">
            </div>

            <div class="col-md-6">
              <label for="email-field" class="pb-2" title="Your Email">Ваша почта</label>
              <input type="email" class="form-control" name="email" id="email-field" required="">
            </div>

            <div class="col-md-12">
              <label for="subject-field" class="pb-2" title="Subject">Тема сообщения</label>
              <input type="text" class="form-control" name="subject" id="subject-field" required="">
            </div>

            <div class="col-md-12">
              <label for="message-field" class="pb-2" title="Message">Сообщение</label>
              <textarea class="form-control" name="message" rows="5" id="message-field" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit" title="Send Message">Отправить сообщение</button>
            </div>

          </div>
        </form>
      </div><!-- End Contact Form -->
    </div>
  </div>
</section>