<section id="cta" class="cta section">
  <div class="section-bg-2 my-6">
    <div class="section-bg-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 mx-auto text-center z9">
          <h2 class="text-white">Your Answers Are Written in the Stars – Let's Reveal Them!</h2>
          <h4 class="text-white">Get a Tarot Reading Now!</h4>
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn-white small page-scroll">Book a Reading</a>
        </div>
      </div>
    </div>
  </div>
</section>