<section id="cta" class="cta section">
  <div class="section-bg-2 my-6">
    <div class="section-bg-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 mx-auto text-center z9">
          <h2 class="text-white" title="Your Answers Are Written in the Stars – Let's Reveal Them!">Твои ответы уже предначертаны звёздами — давай откроем их вместе!</h2>
          <h4 class="text-white" title="Get a Tarot Reading Now!">Сделай расклад Таро прямо сейчас!</h4>
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn-white small page-scroll" title="Book a Reading">Заказать расклад</a>
        </div>
      </div>
    </div>
  </div>
</section>