{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top {% if page != 'index' %}sticky-top {% endif %}">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">
    <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto">
      <img src="{% static 'main/img/logo.png' %}" alt="">
    </a>
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/" {% if page == 'index' %}class="active"{% endif %}>Главная<br></a></li>
        <li><a href="/about" {% if page == 'about' %}class="active"{% endif %}>Обо мне</a></li>
        <li><a href="/services" {% if page == 'services' %}class="active"{% endif %}>Услуги</a></li>
        <li><a href="/blog" {% if page == 'blog' %}class="active"{% endif %}>Статьи</a></li>          
        <li><a href="/contact" {% if page == 'contact' %}class="active"{% endif %}>Контакты</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
    <a class="btn-getstarted flex-md-shrink-0" href="#about">Начать</a>
  </div>
</header>