<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" title="Book a Reading">Заказать расклад</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="forms/book.php" method="post" class="php-email-form">
        <input type="hidden" name="formname" class="form-control" value="modalform">
        <div class="modal-body">             
          <div class="form-group mt-3">
            <input type="text" name="name" class="form-control" placeholder="Ваше имя" required>
          </div>
          <div class="form-group mt-3">
            <input type="email" class="form-control" name="email" placeholder="Ваша почта" required>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="contact" placeholder="Ваш номер телефона" required>
          </div>                          
        </div>
        <div class="col-md-12 text-center">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="custom-button" title="Submit">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>