<div id="stats" class="stats section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">          

      <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
          <i class="bi bi-filter-square color-orange flex-shrink-0" style="color: #b76e79;"></i>
          <div>
            <span data-purecounter-start="0" data-purecounter-end="1200" data-purecounter-duration="1" class="purecounter"></span>
            <p title="Readings Completed">Завершённые&nbsp;расклады</p>
          </div>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
          <i class="bi bi-award color-orange flex-shrink-0" style="color: #b76e79;"></i>
          <div>
            <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
            <p title="Years of Experience">Года&nbsp;опыта</p>
          </div>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
          <i class="bi bi-emoji-smile color-orange flex-shrink-0" style="color: #b76e79;"></i>
          <div>
            <span data-purecounter-start="0" data-purecounter-end="73" data-purecounter-duration="1" class="purecounter"></span>
            <p title="Happy Clients">Довольных&nbsp;клиентов</p>
          </div>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
          <i class="bi bi-people color-orange flex-shrink-0" style="color: #b76e79;"></i>
          <div>
            <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
            <p title="Tarot Readers">Тарологи</p>
          </div>
        </div>
      </div><!-- End Stats Item -->

    </div>
  </div>
</div>