{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Manrope:wght@200..800&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/css/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'main/css/aos.css' %}" rel="stylesheet">
  <link href="{% static 'main/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/css/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'main/css/main.css' %}" rel="stylesheet">
</head>
<body class="{% block pageclass %}{% endblock %}">
  {% include 'main/includes/header.html' %}
  <main class="main">
    {% block content %}{% endblock %}
  </main>
  {% include 'main/includes/footer.html' %}
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>
  {% include 'main/includes/modal.html' %}

  <!-- Vendor JS Files -->
  <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'main/js/validate.js' %}"></script>
  <script src="{% static 'main/js/aos/aos.js' %}"></script>
  <script src="{% static 'main/js/glightbox/glightbox.min.js' %}"></script>
  <script src="{% static 'main/js/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'main/js/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'main/js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'main/js/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'main/js/main.js' %}"></script>
  {% if page == 'index' %}
  <script src="{% static 'main/js/particles.js' %}"></script>
  <script>
  particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 100,
      "density": {
        "enable": true,
        "value_area": 800
      }
    },
    "color": {
      "value": "#fff"
    },
    "shape": {
      "type": "star",
      "stroke": {
        "width": 3,
        "color": "#fff"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": false,
      "distance": 150,
      "color": "#fff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 6,
      "direction": "right",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "grab"
      },
      "onclick": {
        "enable": true,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 140,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
    "retina_detect": true
  })
  </script>
  {% endif %}
</body>
</html>